

/* Reduce the size of the enclosed items when website is being viewed on tablets and/or smaller screens */
@media (max-width: 900px) {



  h1 {
    font-size: 250%;
    color: #ff4c68;
  }

  h3 {

    color: #ff4c68;
  }

  .home-page-slide1, .home-page-slide2, .home-page-slide3, .home-page-slide4 {
    height: 320px;
  }

  .about-paragraphs {
    font-size: 120%;
  }

  .about-biography {
    font-size: 105%;
  }

  .bishop-mummy-pix {
    margin-left: 0;
  }

  .leadPastors-pix{
    text-align: center;
  }

  /* Force the h3 of the testimony-header to stay black so as to stand out in background */
  .testimony-header, .featured-message-header, .our-lead-pastors, .service-times {
    color: #fff;
  }

  .featured-message {
    width: 320px;
    height: 220px;
  }

  .footer-logo {
    text-align: center;
  }

  .resources{
    padding-left: 25%;
  }

  #carouselForBranchChurch  {
    width: 100% ;
  }

}


/* Reduce the size of the enclosed items when website is being viewed on small screens like normal phones */
@media (max-width: 600px){

  address {
    color: white;
  }

  /* Make the div containing the Tabs in navbar to allign right */
  .tabs{
    position: relative;
    left: 3%;
  }

  .church-name{
    font-size: 4vw;
    padding-left: 0;
  }

  .contact-us, .resources {
    text-align: center;
  }

  .home-page-slide1, .home-page-slide2, .home-page-slide3, .home-page-slide4 {
    height: 250px;
  }

  .resources{
    padding-left: 0;
  }

  .testimony-carousel em{
    font-size: 90%;
  }
  h3{
    font-size: 5vw;
  }

  #footer {
    font-size: 50%;
  }

  .footer-image{
    width: 20% ;
    margin-top: 0.8rem ;
  }

}
