

/* Reduce the size of the enclosed items when website is being viewed on tablets and/or smaller screens */
@media (max-width: 900px) {
  h1 {
    font-size: 250%;
    color: #ff4c68;
  }

  h3 {
    font-size: 200%;
    color: #ff4c68;
  }

  h5, h6 {
    font-size: 100%;
  }

  .about-paragraphs {
    font-size: 120%;
  }

  .about-biography {
    font-size: 105%;
  }

  /* Force the h3 of the testimony-header to stay black so as to stand out in background */
  .testimony-header, .featured-message-header, .our-lead-pastors, .service-times {
    color: #fff;
  }

  .featured-message {
    width: 320px;
    height: 220px;
  }

  .footer-logo {
    text-align: center;
  }

  .resources{
    padding-left: 25%;
  }



  .testimony-background-image{
    max-width: 100%;
    height: auto;
  }


}


/* Reduce the size of the enclosed items when website is being viewed on small screens like normal phones */
@media (max-width: 600px){
  .contact-us, .resources {
    text-align: center;
  }

  address {
    color: white;
  }

  .resources{
    padding-left: 0;
  }
}
